attrs==25.3.0
beautifulsoup4==4.13.4
black==25.1.0
bs4==0.0.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
configobj==5.0.8
debugpy==1.8.13
english-dictionary==1.0.24
h11==0.16.0
idna==3.10
iniconfig==2.1.0
markdown-it-py==3.0.0
mdurl==0.1.2
mypy-extensions==1.1.0
outcome==1.3.0.post0
packaging==24.2
pathspec==0.12.1
pip==25.0.1
platformdirs==4.4.0
pluggy==1.5.0
pygments==2.19.1
pysocks==1.7.1
pytest==8.3.5
python-dotenv==1.1.0
pythonutils @ file:///Users/aaronmorey/Projects/pythonutils
requests==2.32.3
rich==14.0.0
selenium==4.31.0
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.7
trio==0.30.0
trio-websocket==0.12.2
typer==0.15.2
typing-extensions==4.13.1
urllib3==2.3.0
websocket-client==1.8.0
wsproto==1.2.0
xmltodict==0.14.2
